OPENAI_API_KEY=
EVOLUTION_API_URL=https://api-wpp.ghosthub.com.br
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE=lifeline
EVOLUTION_SEND_ENABLED=false
DATABASE_URL=postgresql://usuario:senha@host:5432/lifeline_db
WEBHOOK_GLOBAL_ENABLED=false
WEBHOOK_GLOBAL_URL=
WEBHOOK_GLOBAL_WEBHOOK_BY_EVENTS=false
GOOGLE_CALENDAR_ENABLED=false
GOOGLE_CALENDAR_ID=primary
GOOGLE_CREDENTIALS_FILE=app/config/credentials.json.json
GOOGLE_TOKEN_FILE=app/config/token.json
