# Arquivos Grandes e Binários (Executáveis / Instaladores)
*.exe
*.msi
*.zip
*.tar.gz
*.rar
ARQUIVOS_FORA_DO_PROJETO_TESTE/
TESTE/
ia/
lifeline-bot/

# Segredos & Ambientes
.env
*.env
backend/.env

# Python Cache & Logs
__pycache__/
*.pyc
*.log
.pytest_cache/

# Node
node_modules/
dist/
